@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
:root{
    --cyan:hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);
    --blue-dark:hsl(217, 28%, 15%);
    --blue-dark-footer:hsl(216, 53%, 9%);
    --testimonials-blue:hsl(219, 30%, 18%);
}
html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(218, 28%, 13%);
    color: white;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    background-color: var(--blue-dark);
    

    
}
.content{
    display: flex;
    list-style: none;
}
.content li a{
    text-decoration: none;
    color: white;
}
.content li:nth-child(2){
    padding: 0 2rem;
}
.content li a{
    transition: ease 600ms;
}
.content li a:hover{
    text-decoration: underline;
    font-weight: 700;
}

/* navbar */

/* hero */

.hero{
    display: grid;
    place-items: center; 
    text-align: center;
    background-color: var(--blue-dark);
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero h1{
    max-width: 30ch;
}
.hero p{
    max-width: 55ch;
}

/* hero */

/* features */

.features{
    margin-top: 6rem;

}

.grid1{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}
.card img{
    max-width: 90px;
    max-height: 80px;
}



/* features */

/* showcase */

.showcase{
    display: flex;
    padding: 2.5rem;
    align-items: center;
}
.showcase .right{
    padding: 0 2.5rem;
}
.showcase h1{
    font-size: 2.5rem;
    max-width: 15ch;
}
.showcase .left{
    margin-bottom: 2rem;
}

.seehow{
    color: var(--cyan);
    display: flex;
    align-items: center;
}
.seehow img{
    padding-left: 0.3rem;
}


/* showcase */

/* profiles */
.profiles {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    place-items: center;
}
.profiles .card:nth-child(1){
    position:relative;

}
.profiles .card:nth-child(1) .quote{
    position:absolute;
    left: -3%;
    top: -14%;
    z-index: -2;
}

.profiles .card{
    background-color: var(--testimonials-blue);
    text-align: start;
    padding:  1.5rem; 
    -webkit-box-shadow: 6px 4px 15px 3px var(--blue-dark); 
    box-shadow: 6px 4px 15px 3px var(--blue-dark);
}
.profiles .card .profile{
    display: flex;
    align-items: center;
}
.profiles .card .profile img{
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}
.profiles .card .profile .content{
    flex-direction: column;
    padding-left: 0.4rem;
}
.profiles .card .profile .content h3{
    margin-bottom: 0;
}
.profiles .card .profile .content p{
    margin-top: 0;  
}

/* profiles */

/* floated card */

.floated-card{
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px;
}
.floated-card .card{
    width: 800px;
    background-color: var(--blue-dark);
    transform: translateY(30%);
    -webkit-box-shadow: 6px 4px 15px 3px rgba(0,0,0,0.55); 
    box-shadow: 6px 4px 15px 3px rgba(0,0,0,0.55);
}
.floated-card .card .input-email{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.floated-card .card .input-email .email-text{
    width: 400px;
    padding-right: 1rem;
}
.floated-card .card .input-email .email-text #email{
    min-width: 100%;
    padding: 0 0.5rem;
    height: 40px;
    border: 0;
    border-radius: 2rem;
    outline: none;
}
 #email-button{
    height: 40px;
    width: 30%;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.error{
    display: none;
    padding: 0;
    margin: 0;
    color: red;
}

/* floated card */

/* footer */

.footer{
    background-color: var(--blue-dark-footer);
    padding:10rem 2.5rem 2.5rem 2.5rem ;
    height: 450px;
}
.footer .logo{
    width: 100%;
}
.footer-content{
    display: grid;
    grid-template-columns:  30% 28% 10% 10% 22%;
}
.footer-content ul{
    transition: 600ms;
}
.list > li{
    cursor: pointer;
}
.list li:hover{
    font-weight:700;
}
    


.social-media-icons ul{
    display: flex;
    list-style: none;
    
}

.social-media-icons ul li a{
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    padding: 0.4rem;
    transition: 600ms;
}
.social-media-icons ul li a:hover{
    color: var(--cyan);
    border-color: var(--cyan);
}
.social-media-icons ul li:nth-child(2){
    padding: 0 1rem;
}
.social-media-icons ul li:nth-child(1) a{
    padding: 0.4rem 0.6rem;
}
.location{
    list-style: url(images/icon-location.svg);
}
.contact-f{
    list-style: url(images/icon-phone.svg) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.email-f{
    list-style: url(images/icon-email.svg);
}

/* footer */

/* media queries */

@media (max-width:900px){
    /* navbar */
    nav{
        padding: 1.5rem;   
    }
    .logo a img{
        max-width: 85%;
    }
    .content li a:hover{
        text-decoration: underline;
        font-weight: 400;
    }

    /* hero */
    .hero{
        padding: 1.5rem;
        background-image: url(images/bg-curvy-mobile.svg);
        background-size: 100% 65%;
    }
    .hero img{
        width: 100%;
    }
    /* features */
    .grid1{
        grid-template-columns: 1fr;
    }

    /* showcase */

    .showcase{
        flex-direction: column;
        padding: 1.5rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .showcase .left img{
        width: 100%;
        padding: 0 1.5rem;
    }
    .showcase .right{
        padding: 0 ;
    }
    .showcase h1{
        font-size: 1.5rem;
        max-width: 100%;
    }


    /* profiles */
    .profiles {
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }
    .profiles .card{
        padding:  1.5rem; 
        margin: 1rem 0;

    }

    /* floated card */

    .floated-card{
        width: 100%;
        display: grid;
        place-items: center;
        border-radius: 10px;
    }
    .floated-card .card{
        width: 90%;
        padding: 1.5rem;
        border-radius: 20px;
    }
    .floated-card .card h1{
        font-size: 2rem;
    }
    .floated-card .card .input-email{
        width: 100%;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }
    .floated-card .card .input-email .email-text{
        width: 100%;
        padding-right: 0;
    }
    .floated-card .card .input-email .email-text #email{
        width: 100%;
        padding: 0 0.5rem;
    }
    #email-button{
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
    .error{
        font-size: 0.8rem;
    }
    /* footer */

    .footer{
        background-color: var(--blue-dark-footer);
        padding:10rem 1.5rem 1.5rem 1.5rem ;
        height: 100%;
    }
    .footer .logo{
        width: 100%;
        display: flex;
    }
    .footer .logo img{
        padding: 1.5rem;
    }
    .footer-content{
        display: grid;
        grid-template-columns:  1fr;
    }
    .footer-content ul{
        transition: 600ms;
    }
    .list > li{
        cursor: pointer;
    }
    .list li:hover{
        font-weight:700;
    }
    .contact-f{
        list-style: url(images/icon-phone.svg) ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
        
    .list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .social-media-icons ul{
        display: flex;
        list-style: none;
        justify-content: center;
    }

    

}

/* media queries */

/* utilities */

h1,h2,h3, nav, .seehow, .btn{
    font-family: 'Raleway', sans-serif;
}
.btn{
    background-color: var(--cyan);
    padding: 0.9rem 3.7rem;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
    transition: 600ms ease;
}
.btn:hover{
    background-color: hsl(176, 61%, 73%);
}

h1{
    font-size: 2.5rem;
}
.card{
    width: 400px;
    text-align: center;
    padding: 2rem 1rem; 
}
.p-t{
    padding-top: 1rem;
}
.list{
    list-style: none;
}
.p-l{
    padding-left: 0.6rem;
}
